@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
    -----
    id sobrepoem o class
    só pode ter um id
    posso colocar id com class e class com class - só separar com espaço
*/

body {
    background-color: rgb(143, 143, 143);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(37, 37, 37);
}

#principal{
    text-align: center;
    background: white;
}

.basico {
     background-color: rgba(9, 255, 0, 0.315);
     font-weight: bold;
}

.inter {
    background-color: rgba(255, 255, 0, 0.349);
    font-weight: bold;
}

.avanc {
    background-color: rgba(255, 0, 0, 0.26);
    font-weight: bold;
}

h2 {
    color: rgb(43, 41, 41);
}

.destaque {
    background-color: blueviolet;
}