@charset "UTF-8";

/*Configuarações deitado*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}