@charset "UTF-8";

/*Configurações em pé*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}